<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StrentchAndResizeImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18A6478D1CB2CFCD0005CE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A647A61CB2CFCD0005CE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A647B11CB2CFCD0005CE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
